@import ../../sass/colors.sass
@import ../../sass/media.sass

.center
  display: flex
  align-items: center
  justify-content: center
  height: 100vh
  padding: 0 .5em
  width: 100% !important

.heading
  text-align: center

  &__title
    font-size: 3em
    font-weight: 600
    margin-bottom: .1em

    @media screen and (min-width: $breakpoint-small)
      font-size: 4em

    @media screen and (max-width: $breakpoint-smaller)
      font-size: 2.5em

  &__subline
    margin-bottom: 2em

  &__button
    border: 1px solid $special
    border-radius: 1em
    color: $special
    display: inline-block
    margin-right: 1em
    padding: .4em 0 .6em
    text-align: center
    text-transform: lowercase
    vertical-align: top
    width: 10em

    &:last-child
      margin-right: 0

    @media screen and (max-width: $breakpoint-smaller)
      display: block
      margin: .5em auto

      &:last-child
        margin-right: auto

    &--fill
      background: $special
      color: $background
