.blogposts

  &__item
    display: inline-block
    vertical-align: top
    width: 33%

    &__title
      font-weight: bold
      margin-bottom: .5em

    &__description
      margin-bottom: .5em

    &__link
      background: #29648a
      color: #fff
      display: inline-block
      padding: .5em 1em
