@import ../../sass/colors.sass
@import ../../sass/media.sass

.projects
  padding: .5em

  &__filters
    text-align: center

    @media screen and (min-width: $breakpoint-large)
      text-align: right

    &__filter
      display: inline-block
      margin: 0 .5em .5em 0
      vertical-align: top

      @media screen and (min-width: $breakpoint-large)
        margin-bottom: 0

      &:last-child
        margin-right: 0

    &__button
      background: $background-dark
      border: 0
      color: $text
      cursor: pointer
      outline: none
      padding: .5em 1em
      transition: .2s

      &--selected
        background: $special
        color: $background

  &__title
    font-size: 3em
    margin-bottom: .5em

.projectsList
  margin-top: 1em
  &__item
    background: $background-dark
    border-top: 1px solid $special
    margin-bottom: 1em
    padding: 1em

    @media screen and (min-width: $breakpoint-large)
      border-top: 0
      border-left: 1px solid $special
      clear: both
      overflow: auto

    &__container
      margin-bottom: 1em
      text-align: center
      width: 100%

      @media screen and (min-width: $breakpoint-large)
        float: right
        margin-bottom: 0
        margin-left: 1em
        width: 45%

      &__img
        max-width: 100%

    &__title
      font-size: 2em
      margin-bottom: .5em
    &__blurb
      color: $text-dark
      line-height: 1.25em
      margin-bottom: 1em

    &__tech
      margin-bottom: 1em

      &__title
        font-size: 1em
        font-weight: 600
        margin-bottom: .5em

        &::after
          content: ' :'

      &__list
        padding-left: 1em

        &__item
          color: $special
          display: inline-block
          font-size: .875em
          margin: 0 1em .5em 0
          vertical-align: top

          &:last-child
            margin-right: 0
