.navbar
  background: #8b0000
  color: #fff
  line-height: 0
  padding-top: .875em

  &__socials
    display: inline-block
    padding-left: .875em
    width: 50%

  &__socialitems
    box-shadow: -1px 1px 5px rgba(0, 0, 0, .25)
    display: inline-block
    margin-right: .25em
    max-width: 1.25em
    img
      border-radius: 4px
      width: 100%

  &__hamburger
    display: inline-block
    padding-right: .875em
    padding-top: .15em
    text-align: right
    vertical-align: top
    width: 50%

  &__nav
    background: #14171a
    box-shadow: inset 0 11px 8px -10px rgba(0, 0, 0, .75)
    margin-top: .875em

  &__list
    height: 12em
    overflow: hidden
    text-align: right
    transition: .25s
    
  &__items
    padding: 1.5em .875em

.js-collapse
  height: 0
  padding: 0

