.project
  line-height: 1.25em

  &__wrapper
    margin: 0 auto
    padding: .5em
    position: relative
    width: 90%

  &__title
    font-size: 1.375em
    margin-bottom: .625em

  &__subtitle
    font-size: 1.125em

  &__items
    margin: .5em 0

  &__list
    padding-left: 3em

  &__listitem
    list-style-type: disc
    list-style-position: outside

  &__img
      max-width: 100%
