.skills
  &__heading
    font-size: 3em
    margin-bottom: .25em
  &__blurb
    margin-bottom: 1em
    &--em
      color: #29648a
      font-weight: 600
  &__title
    border-top: 1px solid #ccc
    color: #29648a
    font-size: 2.25em
    margin-bottom: .5em
    padding-top: .5em
  &__list
    line-height: 1.25em
    list-style-type: disc
    margin: .5em 0 1em
    padding-left: 2.5em
    &--em
      color: #29648a
      font-weight: 600
